/* Add your styles here */

body {
  background-color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 400;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

h3 {
  text-align: left;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 10px 10px 10px 10px;
}

img {
  width:70%;
  height:70%;
  margin: 25px 25px 25px 25px;
}

#songs {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 400;
  padding: 20px 20px 20px 20px;
  border-radius: 12px;
}

.font{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}


.right {
  background-color: #fefac5;
  margin: 25px 50px 25px 50px;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
}

.centered {
    display: flex;
    align-items: center;
}


.form-input {
  padding: 0px 100 0px 100px;
  margin: 0px 50px 0px 50px;
}
